<p id="notice"><%= notice %></p>

<fieldset>
    <legend><b><%= @post.title %></b> by <i> <%= @post.name %></i></legend>
    <%= @post.content %>
    <br />
    <%= link_to 'Edit Post', edit_post_path(@post) %> |
    <%= link_to 'Back to Posts', posts_path %>
</fieldset><br />
 
<%= render @post.comments %>
<br /><br />
<h4>Add a comment:</h4>
<%= render 'comments/form' %>
